img {
  display: block;
  width: 100%;
}

.scene {
  padding: 0;
  margin: 0;
}

.fill {
  position: absolute;
  bottom: 5%;
  right: 5%;
  left: 5%;
  top: 5%;
}

.expand-width {
  width: 100%;
}

.border {
  border: 2px dashed #00FFAA;
}

.aspect {
  opacity: 0.01;
}

.layer:nth-child(1) {
}
.layer:nth-child(1) button {
  -webkit-transform: rotate(150deg);
}

.layer:nth-child(2) {
}
.layer:nth-child(2) button {
  -webkit-transform: rotate(120deg);
}

.layer:nth-child(3) {
}
.layer:nth-child(3) button {
  -webkit-transform: rotate(90deg);
}

.layer:nth-child(4) {
}
.layer:nth-child(4) button {
  -webkit-transform: rotate(60deg);
}

.layer:nth-child(5) {
}
.layer:nth-child(5) button {
  -webkit-transform: rotate(30deg);
}

.layer:nth-child(6) {
}
.layer:nth-child(6) button {
}

.board {
  -webkit-transform-origin: 50% 50%;
  background-size: 940px 500px;
  height: 253px;
  width: 253px;
  background-repeat: no-repeat;
  position: absolute;
  top: 100px;
  left: 0;
}

.board2 {
  -webkit-transform-origin: 50% 50%;
  background-size: 940px 500px;
  height: 320px;
  width: 320px;
  background-repeat: no-repeat;
  position: absolute;
  top: 100px;
  left: 0;
}

.board3 {
  -webkit-transform-origin: 50% 50%;
  background-size: 940px 500px;
  height: 240px;
  width: 240px;
  background-repeat: no-repeat;
  position: absolute;
  top: 100px;
  left: 0;
}

.boardLogo {
  -webkit-transform-origin: 50% 50%;
  background-size: 175px 173px;
  height: 175px;
  width: 173px;
  background-repeat: no-repeat;
  position: absolute;
  top: 100px;
  left: 0;
}

.board.gear1{
  background-image: url(../images/Layer21.svg);
}

.board2.gear2{
  background-image: url(../images/Layer22.svg);
}

.board3.gear3{
  background-image: url(../images/Layer23.svg);
}

.boardLogo.logoGear{
  background-image: url(../images/shop4devG.png);
}

img.Display{
  width: 210%;
}

.positionDisplay {
  position: relative;
  top: 120px;
  left: 80px;
}

img.Screen{
  width: 122%;
}

.positionScreen {
  position: relative;
  top: 230px;
  left: 199px;
}

img.Shadow1{
  width: 137%;
}

.positionShadow1 {
  position: relative;
  top: 336px;
  left: 64px;
}

img.Shadow2{
  width: 140%;
}

.positionShadow2 {
  position: relative;
  top: 155px;
  left: 536px;
}

img.LittleScreen1{
  width: 105%;
}

.positionLittleScreen1 {
  position: relative;
  top: 320px;
  left: 35px;
}

img.LittleScreen2{
  width: 128%;
}

.positionLittleScreen2 {
  position: relative;
  top: 140px;
  left: 529px;
}

img.LittleScreen1Inside{
  width: 97%;
}

.positionLittleScreen1Inside {
  position: relative;
  top: 350px;
  left: 50px;
}

img.LittleScreen2Inside{
  width: 92%;
}

.positionLittleScreen2Inside {
  position: relative;
  top: 184px;
  left: 543px;
}

img.Cloud{
  width: 140%;
}

.positionCloud {
  position: relative;
  top: 205px;
  left: 675px;
}

img.Simbols {
  width: 210%;
}

.positionSimbols {
  position: relative;
  top: 140px;
  left: -90px;
}

img.Logo {
  width: 105%;
}

.positionLogo {
  position: relative;
  top: 100px;
  left: -30px;
}

.logo_label{
  padding-top: 75px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 25px;
  cursor: default;
  letter-spacing: 6px;
}

.info{
    z-index: 2;
    font-family: inherit;
    font-size: 100px;
    text-align: center;
    padding: 4px 0;
    width: 106px;
    border-radius: 55px;
    /* height: 70px; */
    line-height: 100px;
    color: #2f506a;
    position: fixed;
    background-color: white;
    margin: 23% 47%;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 1);
    transition-duration: 0.2s;
    cursor: pointer;
}

.info:hover{
      -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        /*color: #fff;*/
        background-color: #ff832e;
}

.next{
  position: fixed;
  margin: 4% 48%;
  transition-duration: 0.2s;
  cursor: pointer;
  bottom: 0px;
}

.next:hover{
      -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

.navbar-first{
  background-color: rgba(255,255,255,0)!important;
}

.modal {
    /*display: none;  Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
}

.logo_p{
  font-size: 23px;
  font-weight: normal;
  font-family: serif;
}

.hanger{
  -webkit-transform-origin: 0% 0%;
  -webkit-transform: rotateZ(-10deg);
  -moz-transform-origin: 0% 0%;
  transform: rotateZ(-10deg);
  transform-origin: 0% 0%;
  position: absolute;
}

.hanger.position1{
  left: 1%;
  top: 20%;
}
.hanger.position2{
  left: 38%;
  top: -5%;
}
.hanger.position3{
  left: 100%;
  top: 25%;
}

.hanger.logo{
  left: 165px;
  top: 83px;
}

.swing {
  -webkit-animation: swing 400s infinite alternate cubic-bezier(0, 0, 0, 0);
  animation: swing 400s infinite alternate cubic-bezier(0, 0, 0, 0);

}

@keyframes swing{
    50%{
    transform:rotateZ(3600deg)
    }
}

@-moz-keyframes swing{
    50%{
      -moz-transform:rotateZ(3600deg);
    transform:rotateZ(3600deg)
    }
}
ul{
  list-style: none;
}