.background {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666;
}

.textposition {
    float: right;
    font-size: 17px;
    margin: 8px 14px;
}

.login {
    opacity: 0.7;
    height: 23px;
    width: 23px;
}

.login:hover {
    opacity: 1;
}

.Gear{
    height: 80px;
    width: 160px;
}

.Gear.position {
    position: fixed;
    top: -12px;
    left: 10px;
}

.Gear2{
    position: fixed;
    top: 2px;
    left: 66px;
    height: 45px;
    width: 45px;
}

.logoText {
    color: rgb(232, 232, 232);
    text-align: left;
    font-size: 17px;
    font-family: sans-serif;
    position: fixed;
    margin-top: 1px;
}

.logoText label{
    font-size: 25px;
    font-weight: normal;
    padding: 0px;
    color: #d0d0d0;
    margin-right: 10px;
}

.logoSmall{

}

.hvr-bounce-to-top {
    color: #d0d0d0;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.hvr-bounce-to-top:before {
  content: "";
  position: absolute;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-bounce-to-top:hover, .hvr-bounce-to-top:focus, .hvr-bounce-to-top:active {
  color: white;
}
.hvr-bounce-to-top:hover:before, .hvr-bounce-to-top:focus:before, .hvr-bounce-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0px 1px 0.5px 0px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.1);
  transform: scale(1.4);
}